<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Device Reset</title>

    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6Le8raQnAAAAAGgv9cJBl5RlltREYqkqp42_CNDK'
            });
        };

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var onClickReset = function () {
            if (isRobot()) {
                alert("Please verify that you're not a robot");
                return false;
            }

            window.open([[${resetURL}]]+"&captcha="+grecaptcha.getResponse());
            return true;
        };

        function isRobot() {
            return grecaptcha.getResponse().length === 0;
        }

        /*]]>*/
    </script>

</head>
<body>
<div style="text-align: center;">
    <th:block th:if="${code}">
        <h3>Your Link verification code is:
            <th:block th:text="${code}"></th:block>
        </h3>
    </th:block>
    <form action="?" method="POST">
        <div id="html_element" style="display:inline-block; text-align:center;"></div>
        <br>
        <a href="#" onclick="onClickReset();" th:text="${continueNewDevice}" style="background-color: #0e70f9; border-radius: 6px; border: 1px solid #337fed; display: inline-block; cursor: pointer; color: #ffffff; font-size: 15px; padding: 6px 24px; text-decoration: none;" onmouseover="this.style.backgroundColor='#1e62d0';" onmouseout="this.style.backgroundColor='#0e70f9';">
            Continue New Device
        </a>
    </form>
    <script th:src="@{https://www.google.com/recaptcha/api.js(onload='onloadCallback',render='explicit',hl=${locale})}" async defer>
    </script>
</div>
</body>

</html>