"Cashmallow" Terms of Service

Article 1 (Purpose)
When a user clicks on the "cashmallow" (hereinafter referred to as the "Company") mobile app and completes the signup process, the user has automatically entered into the "cashmallow" user agreement (the "Agreement") with respect to the transaction service (hereinafter referred to as "Service") provided by the Company. The Company and the user have carefully read all the terms of this Agreement and the contents of the Legal Notices and Rules of Operation issued by the Company and have known, understood and accepted the Agreement and the Terms of Service which serve as the basis to determine the rights, obligations and liabilities of both parties.

Article 2 (Definitions)
① "cashmallow": the use of computers, smart phones and other communication equipment to set up virtual accounts, to provide Services to users, and at the same time operating the site.

② "User": accept and agree to the terms of this Agreement and the updates upon the legal terms and operating rules by the Company from time to time. This applies to both members and non-members.

③ "Members": users who have completed the registration process, provided personal information to the Company, and agreed to fulfill the Agreement.


④ "Non-members": users who have not completed the registration process, and use the Services provided by the Company.

Article 3 (Definitions and Amendments to Agreements)
① The contents of this Agreement, place of business, company registration number, contact information (telephone, fax, e-mail) and so on are clearly listed on our website.

② The Company reserves the right to amend the terms of this Agreement without prejudice to the relevant laws of the Republic of Korea.

③ The Company's amendments to the terms of this Agreement shall be made available on the Company's website 7 days in advance.

④ The Company's amendments to the terms of this Agreement shall apply only to contracts entered into after the date of revision. However, if the user who has entered into a contract with the Company wishes to have the new revised terms applied to his contract, he may contact the Company within the corresponding notice period. Only with the permission of the Company that the new clause may be applied to contracts entered into before the date of revision.

⑤ Matters that are not clearly defined in the terms of this Agreement will be based on the  relevant legal and commercial practices in the Republic of Korea.

Article 4 (Provision and Change of Service)
① The Company provides the following Services.
1. To provide information about the Services, and the signing of the relevant agreement.
2. Per completing the signing of the relevant agreement, provide the corresponding Services.
3. Provide other Services defined by the Company.

② If there is any change in the Service or technical support provided by the Company, the terms of this Agreement may be amended. The Company's amendments to the terms of this Agreement, with respect to their applicable dates and reasons, will be posted 7 days in advance at the Company's website.

③ After the Company has signed a contract with the user, the Company will bear the responsibility for any loss caused by the change in Service or technical support. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.

Article 5 (Termination of Service)
① The maintenance, replacement and inspection of information and communication equipment may cause communication interruption. The Company may thus suspend the Service.

② If the suspension of Service as described in Article 5 ① of this Agreement occurs, the Company will notify users in the manner specified in Article 8 of this Agreement.

③ If the suspension of Service as described in Article 5 ① of this Agreement occurs and lead to losses upon users, the Company shall bear the relevant responsibility. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.

Article 6 (Member Registration)
① When the user completes the registration procedure, it is equivalent to accepting and agreeing to all the terms of this Agreement.

② Article 6 ① of this Agreement should apply except for the following circumstances.
1. In accordance with Article 7 ③ of this Agreement, if the user has been disqualified from membership, he can become a member of the Company again after three years with the permission of the Company.
2. User registration information is identified false, found missing, with an error and so on.
3. Users are judged to exert a negative impact upon the Company's operation.

③ The membership contract came into effect after completing the registration process, and confirm to fulfill the relevant user Agreement.

④ If there is any change in the registration information of that stated in Article 15 ① of this Agreement, it is the responsibility of the member to notify the Company by e-mail or other means immediately.

Article 7 (Cancellation of Membership)
① Members may apply to the Company for cancellation of membership, and the Company will process immediately upon receipt of the application.

② The Company reserves the right to suspend or cancel the membership in the following circumstances.
1. User registration information is identified false, found missing, with an error and so on.
2. Overdue payment to the Company after obtaining goods or servies from the Company.
3. Interfere or steal the Company's information and other violations of the order of electronic transactions.
4. The use of the Company to carry out illegal acts, breach this Agreement and so on.

③ After membership suspension, if the user repeats the same behavior twice or more, or shows no improvement, the Company has the right to permanently write off the user's membership.

④ Before membership write off, according to individual circumstances, the user may be informed by the Company and given chance to correct.

Article 8 (Member Notice)
① The Company will send a notice via e-mail registered by the member.

② The Company will notify the majority of members via directly publishing in the Company's message board for one week or more.

Article 9 (Service Application)
Users can apply Service of the Company through the following methods.
1. Enter the name, password, passport number, business registration number, phone number, mobile phone number, address, e-mail and so on.
2. Choose Service.
3. Choose a payment method.
4. Agree to the terms of this Agreement.

Article 10 (Contract Establishment)
① Article 9 of this Agreement shall apply except for the following circumstances.
1. User registration information is identified false, found missing, with an error and so on.
2. The purchase of Service is prohibited in the Republic of Korea.
3. Users are judged to exert a negative impact upon the Company's operation.

② In accordance with Article 12 ①  of this Agreement, the Company will send a confirmation notice to the user upon receipt of the Service application. When the user has received the confirmation notice, the contract with the Company has been formally established.

Article 11 (Payment Method)
Users generally pay the Company in one of the following ways. For details, should refer to the terms of transaction.
1. Transfer
2. Credit card payment
3. Online remittance
4. Payment with electronic money
5. Payment on receiving Services

Article 12 (Confirmation Notice, Application for Change and Cancellation)
① After receiving the user's Service application, the Company will send a confirmation notice to the user.

② After receiving the confirmation notice, if the user finds the content incorrect, can immediately apply for change or cancellation.

③ After receiving the user's change or cancellation application, the Company will handle immediately.

Article 13 (Distribution)
The Company will set out the procedure and time of providing the Service, and the Company will bear the responsibility if the Company causes any loss to the user. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.

Article 14 (Refund, Returns or Exchange)
① The maintenance, replacement and inspection of information and communication equipment may cause communication interruption. The Company may thus suspend the Service. The Company will immediately notify the users and bear responsibility. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.

② In the following circumstances, the Company will do a refund, return or exchange. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.
1. The Service provided is inconsistent with the confirmation notice issued by the Company.
2. The Service provided has defects.
3. The Service provided has a delay.
4. There are omissions in the Services provided.

Article 15 (Privacy Policy)
① The Company only collects basic information of the user, according to Service needs.
The following are mandatory fields, while the others are optional and the user can choose whether to fill out.
1. User name (member)
2. Password (member)
3. Passport information (traveler-members)
4. Business registration information (storeowner-members)
5. Name
6. Nickname
7. E-mail
8. Address
9. Telephone number
10. Phone number
11. Mail service
12. Whether agree to receive SMS

② The Company must get the consent of the corresponding users when collecting the personal information.

③ Except for the following circumstances, the Company promised that without the user's consent, the corresponding personal information will not be provided to third parties or used for other purposes.
1. The most basic information (such as name, address, telephone number, etc.) are required when providing the Service.
2. For the purpose of making a statistical, academic or market survey, the Company may provide the required information in a manner that does not disclose the identity of the user.

④ In accordance with Article 15 ② and ③ of this Agreement, the person in charge of personal information management must collect information according to the relevant laws in the Republic of Korea. Users should be allowed to withdraw the consent at any time.

⑤ Users may at any time revise the registration information. Per completion, the Company will immediately update in its system. The Company will not use the corresponding personal information until the user has completed the revision of the incorrect registration information.

⑥ In order to protect the privacy of users, the Company is responsible for the safety of personal information such as credit cards and bank accounts.

⑦ The Company or a third party will immediately delete the relevant information after completing the use of the information obtained with the consent of the user.

Article 16 (Obligations of the Company)
① The Company will comply with the law and this Agreement, to provide users with sustained, stable and reliable Service.

② The Company is committed to improving the security system, to provide users with safe and reliable Service.

③ The relevant labels and advertisements provided by the Company, if found to be unfair to users, the Company will bear the relevant responsibilities. However, if the fault has nothing to do with the Company or not intentionally caused by the Company, the compensation terms will not apply.

④ Before receiving users' consent, the Company will not send the commercial related mails to the relevant users.

Article 17 (Member's Responsibility for Login ID and Password)
① In addition to circumstances specified in Article 15 (Privacy Policy), users remain sole responsible for personal ID and password.

② Users should not provide personal ID and password to a third party to use.

③ If the user discovers that the personal ID and password are stolen, he shall immediately notify the Company and reset in accordance with the instructions of the Company.

Article 18 (User's Obligation)
Users should not engage in the following activities.
1. Register false information.
2. Change the information published by the Company at will.
3. Publish or announce any information without the Company's consent.
4. Infringe the intellectual property rights of the Company or related third parties (e.g. copyright).
5. Damage to the Company or the associated third party's reputation or obstruction of its business.
6. Publish or disclose obscene or violent information, images, voice or other information that violates public order at the Company's relevant platform.

Article 19 (Relationship between the Company and the Partner(s))
① Third parties included in the Service provided to the users are collectively referred to as "partners".

② The Company and its partners operate on an independent basis.

Article 20 (Ownership and Use of Copyright)
① The Company owns all the copyright and intellectual property rights.

② The user shall not copy, publish, distribute and disseminate information obtained from the Company without the written consent of the Company and prohibit the provision of information to a third party for the benefit of the Company.

Article 21 (Dispute Resolution)
① The Company will set up a compensation handling mechanism to receive the user's opinions or complaints and to handle compensation on losses.

② The Company will handle users' complaints and comments with a priority. However, if there is any delay, the Company will notify the user accordingly.

③ Disputes between the Company and the user shall be dealt with in accordance with Article 28 of the Basic Law on Electronic Commerce of the Republic of Korea and the relevant Article 15 enforcement order.

Article 22 (Application and Interpretation of this Agreement)
① The electronic transaction dispute or litigation between the Company and the user shall be handled by the court under the Civil Procedure Law of the Republic of Korea.

② The electronic transaction litigation between the Company and the user will be dealt with under the Electronic Transactions Act of the Republic of Korea.

③ This "Terms of Service" has been translated into English. If there is any inconsistency or ambiguity between the English version and the Korean version, the Korean version shall prevail.
