<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
<pre>
"cashmallow" 用戶協議

第一條（目的）
用戶點擊"cashmallow"（以下簡稱"本公司"）手機應用程式並完成註冊程序，視為用戶與本公司已達成 "cashmallow"用戶協議 （下稱"本協議"），就用戶使用本公司相應的交易服務（下稱"服務"）達成本協議的全部約定。本公司及用戶均已認真閱讀本協議中全部條款及本公司發佈的法律聲明和操作規則的內容，對本協議和服務規則均已知曉、理解並接受，同意將其作為確定雙方權利、義務和責任的依據。
透過本次交易， 您已了解"Cashmallow Taiwan" (即"看買樂有限公司")，係依中華民國法律成立並存續之公司。看買樂有限公司僅作為本公司在台灣代收代付之機構。您知悉本公司為上開服務的唯一提供者，本服務係用於個人或商旅，不得為投機、投資或任何其他用途。於訂購本公司之服務時，您同意遵循所有相關之現行法令。雙方法律關係將依大韓民國法律管轄、詮釋，並同意就本服務、手機應用程式條款以及其他因本公司之政策或條款可能衍生之爭議糾紛，由不具專屬管轄權之首爾中央區法院解決。就任何爭議糾紛，若雙方未能私下調解，即應由大韓民國首爾之法院為訟爭法院。

第二條（定義）
① "cashmallow"：本公司利用電腦和智能電話等通訊設備設定的虛擬賬戶，向用戶提供服務，並同時運營網站。

② "用戶“：接受並同意本協議全部條款及本公司不時發佈和更新的法律條款和操作規則，按本協議使用本公司的服務的會員和非會員。

③ “會員”：完成註册程序、提供個人信息給本公司，並確認同意履行相關用戶協議的用戶。

④ “非會員”：沒有完成註册程序，並使用本公司提供的服務的用戶。

第三條（協議的定義和修訂）
① 本公司發佈的網站上，清楚列明本協議的內容、商戶、營業所在地、代表姓名、公司註冊號碼、聯繫方式（電話、傳真、電子郵件）等。

② 本公司保留修改本協議條款的權利，原則在不違反電子交易基本法、電子簽名法、信息通訊網促進法、訪問銷售和消費者保護法等大韓民國相關法律。

③ 本公司對本協議條款的修訂、有關其適用日期及理由，將提前7天公佈在本公司網頁的明顯位置。

④ 本公司對本協議條款的修訂，只適用於修訂日期以後簽訂的合同，修訂日期前與用戶簽訂的合同將如約履行。然而，與本公司已經簽訂合同的用戶如希望新修訂的條款適用於其合同，可於相關通知期限內聯絡本公司。只有在獲得本公司的允許後，新修訂條款才可於修訂日期前簽訂的合同適用。

⑤ 本協議條款中沒有明確定義的事項，將一律以大韓民國政府制定的電子交易消費者保護指南及相關法律和商業慣例為依據。

第四條（服務的提供和變更）
① 本公司提供以下服務。
1. 提供有關服務的信息，及相關協議的簽訂。
2. 完成相關協議簽訂程序後，提供協議中的服務。
3. 提供其他本公司定義的服務。

② 本公司提供的服務或技術支援有任何變更時，可對本協議條款作出修訂。本公司對本協議條款的修訂、有關其適用日期及理由，將提前7天公佈在本公司網頁的明顯位置。

③ 本公司與用戶簽訂合同後，如因服務或技術支援有任何變更導致對用戶造成損失，本公司將承擔有關責任。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。

第五條（停止服務）
① 本公司電腦等信息通訊設備的維修、更換和檢查等，可能導致通訊中斷狀況發生，因而暫停提供服務。

② 本協議第五條第一項中導致服務暫停的情況如發生，本公司將按照本協議第八條列明的方式通知用戶。

③ 本協議第五條第一項中導致服務暫停的情況如發生並對用戶造成損失，本公司將承擔有關責任。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。

第六條（會員註冊）
① 用戶填寫會員信息並完成註册程序，等於接受並同意本協議全部條款及本公司不時發佈和更新的法律條款和操作規則，並確認同意履行相關用戶協議。

② 除以下情況外，本協議第六條第一項適用，用戶可註冊成本公司會員。
1. 根據本協議第七條第三項，申請人如曾被註銷會員資格，於三年後重新完成會員註册程序並獲得本公司許可，才可再次成為本公司會員。
2. 用戶註冊內容虛假、遺漏記載、錯誤登記信息等情況。
3. 用戶被判斷為對本公司技術或其他方面有影響並造成障礙的情況。

③ 完成註册程序，並確認同意履行相關用戶協議，會員合約正式生效。

④ 本協議第十五條第一項的註冊資料如有任何變更時，會員有責任即時通過電子郵件或其他方式通知本公司。

第七條（註銷會員資格）
① 會員可向本公司申請註銷會員資格，本公司在收到申請後將即時處理。 

② 在以下情況下，本公司有權暫停或註銷會員資格。
1. 用戶註冊內容虛假、遺漏記載、錯誤登記信息等情況。
2. 通過本公司獲得服務，逾期未付款的情況。
3. 干擾或竊取本公司信息等違反電子交易秩序的情況。
4. 利用本公司進行違法和違反本協議等情況。

③ 用戶被暫停會員資格後，若同一行爲重複兩次或以上，或三十天內情況得不到改善，本公司有權永久註銷該會員資格。

④ 用戶被註銷會員資格前，按個別情況，可能會得到本公司通知，並給予改正機會。

第八條（會員通知）
① 本公司會通過會員登記的電子郵件發送通知。

② 本公司會將涉及大多數會員的通知，直接在本公司留言板上公佈一週或以上。

第九條（服務申請）
用戶可通過以下方法，向本公司申請服務。
1. 輸入姓名、密碼、護照號碼、商業登記號碼、電話號碼、手機號碼、地址、電子郵箱等。
2. 選擇服務。
3. 選擇付款方法。
4. 同意本協議的條款 (通過滑鼠點擊)。

第十條（合同成立）
① 除以下情況外，本協議第九條適用。
1. 用戶註冊內容虛假、遺漏記載、錯誤登記信息等情況。
2. 未成年人購買煙、酒類等大韓民國《青少年保護法》中禁止的服務等情況。
3. 用戶被判斷為對本公司技術或其他方面有影響並造成障礙的情況。

② 根據本協議第十二條第一項，本公司在收到用戶的服務申請後，會先向會員發出確認通知。用戶在收到確認通知的同時，和本公司的合同也正式成立。

第十一條（支付方式）
用戶通過本公司申請的服務，一般可按照以下其中一種方式支付，詳情應參考有關交易條款。
1. 轉賬。
2. 信用卡付款。
3. 網上匯款。
4. 電子貨幣支付。
5. 收取服務時支付等。

第十二條（確認通知、申請變更及取消）
① 本公司在收到用戶的服務申請後，會先向會員發出確認通知。

② 用戶收到確認通知後，如內容有不一致的情況，可立即申請變更或取消。

③ 本公司在收到用戶的變更或取消申請後，會立即作出相關處理。

第十三條（配送）
本公司會列明提供服務的方式和時間，假如因為本公司的疏忽對用戶造成損失，本公司將承擔有關責任。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。

第十四條（退款、退貨或交換）
① 本公司電腦等信息通訊設備的維修、更換和檢查等，可能導致通訊中斷狀況發生，因而暫停提供服務。本公司會立即通知用戶，並承擔有關責任。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。

② 在以下情況下，本公司會執行退款、退貨或交換。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。
1. 提供的服務和本公司發出的確認通知不一致。
2. 提供的服務有受損壞的情況。
3. 提供的服務有延誤的情況。
4. 提供的服務有遺漏的情況。

第十五條（隱私權政策）
① 本公司收取用戶信息時，只根據服務需求，收取最基本資料。
以下選項是必須填寫項目，其它選項用戶可選擇填寫。
1. 用戶名 (會員)。
2. 密碼 (會員)。
3. 護照信息 (遊客會員)。
4. 商業登記資料 (加盟店會員)。
5. 姓名。
6. 別名。
7. 電子郵箱。
8. 地址。
9. 電話號碼。
10. 手機號碼。
11. 郵件服務。
12. 是否接收SMS。

② 本公司收集用戶的個人信息時，必須得到相關用戶的同意。

③ 除以下情況外，本公司承諾未經用戶同意下，不會把用戶的個人信息提供給第三方或作其他用途。
1. 在提供服務時，向有關部門或公司提供服務時所需的最基本資料（如姓名、地址、電話號碼等）。
2. 在作統計、學術研究或市場調查時，以不識別個人身份為原則，提供所需資料。

④ 根據本協議第十五條第二和第三項，在徵求用戶的同意時，相關個人信息管理負責人必須先表明身份 （所屬部門、姓名和電話號碼等聯絡方式)，同時說明個人信息的收集及使用目的、第三方的相關事項 （信息接收方、接收內容和目的）等大韓民國信息網絡使用促進法第十六條第三項內規定必須明示或通知的事項，並容許用戶隨時撤回該同意。

⑤ 用戶可隨時修改和閱覽已填寫的個人信息，完成後本公司會即時更新有關資料。在用戶完成修改錯誤登記的信息前，本公司不會使用相關個人信息。

⑥ 為了保護用戶的隱私，本公司對有關信用卡、銀行賬號等個人信息的安全性負責，防止個人資料的洩露等對用戶造成的損害。

⑦ 本公司或第三方，在獲得用戶的同意並完成有關信息的使用後，將即時刪除相關資料。

第十六條（本公司的義務）
① 本公司將遵從法律和本協議，給用戶提供持續、穩定和可靠的服務。

② 本公司致力完善有關保安系統，為用戶提供安全可靠的服務。

③ 本公司提供的服務的相關標籤和廣告，如被定為對用戶有不公平的情況，本公司將承擔有關責任。但是，如果不存在本公司故意造成的過失，有關賠償將不適用。

④ 本公司如未得用戶同意，不會發送含有商業用途的郵件給有關用戶。

第十七條（會員對登入ID及密碼的責任）
① 除了第十五條（隱私權政策）列明的情況外，用戶對個人ID和密碼有管理責任。

② 用戶不應將個人ID和密碼交給第三方使用。

③ 用戶如發現個人ID和密碼被盜用，應立即通知本公司，並按照本公司的指示更改有關操作。

第十八條（用戶的義務）
用戶不應從事下列行為。
1. 登記虛假信息。
2. 隨意變更本公司發布的信息。
3. 隨意發布或公告未得本公司承認的信息。
4. 侵犯本公司或相關第三方的知識產權（如版權）。
5. 損害本公司或相關第三方的名譽或妨礙其業務。
6. 隨意在本公司有關平台發佈或公告淫穢或暴力信息、圖像、語音或其他違反公共秩序的信息。

第十九條（本公司和合作伙伴之間的關係）
① 本公司給用戶提供的服務內容內，包含的第三方一律統稱為"合作伙伴"。

② 本公司和合作伙伴各自維持獨立運作，本公司對合作伙伴的服務或相關行為，不存在任何責任。

第二十條（版權的擁有和使用限制）
① 本公司擁有所有相關著作物的版權和知識產權。

② 用戶不得在未經本公司的書面同意下，複製、出版、發行和傳播從本公司獲得的信息，並嚴禁把有關信息提供給第三方以謀取利益。

第二十一條（爭議解決）
① 本公司將設置賠償處理機制，以應付用戶的意見或投訴，並處理和賠償有關損失。

② 本公司對用戶的投訴和意見會進行優先處理。然而，如果有任何延誤，本公司會盡快通知有關用戶。

③ 本公司和用戶間的糾紛，將按照大韓民國電子商務基本法第二十八條和相關第十五條施行令處理。

第二十二條（本協議的適用和解釋權）
① 本公司和用戶間之電子交易糾紛或訴訟，將交由大韓民國民事訴訟法規定的管轄法院處理。

② 本公司和用戶間之電子交易訴訟，將根據大韓民國電子交易法處理。

③ 此中文"用戶協議"為韓文版本譯本，如中、英文兩個版本有任何抵觸或不相符之處，應以韓文版本為準。
</pre>
</body>
</html>