<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/ko/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    <br>
    "<b>
    <th:block th:text="${email}"/>
</b>" 에 대한 비밀번호 재설정이 요청되었습니다.
    <br>
    <br>
    아래 URL를 통하여 비밀번호 재설정하세요.
    <br>
    <br>
    <a th:href="@{${resetUrl}(token=${token})}" style="background-color: #0e70f9; border-radius: 6px; border: 1px solid #337fed; display: inline-block; cursor: pointer; color: #ffffff; font-size: 15px; padding: 6px 24px; text-decoration: none;" onmouseover="this.style.backgroundColor='#1e62d0';" onmouseout="this.style.backgroundColor='#0e70f9';">
        비밀번호 재설정
    </a>
    <br>
    <br>
    본인이 비밀번호 재설정을 요청하지 않았다면 이 이메일은 무시해 주세요.
    <br>
    <br>
</div>

<div th:replace="mail-templates/ko/fragments/footer :: footer"></div>

</body>
</html>