<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/ko/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    고객님의 요청으로 캐시멜로 계정의 비밀번호를 초기화 하였습니다.<br>
    임시 비밀번호를 이용하여 로그인 한 후 본인의 비빌번호를 반드시 재설정 하시기 바랍니다.<br>
    &nbsp;<br>
    임시비밀번호 : <strong><span th:text="${newPassword}"></span></strong><br>
    &nbsp;<br>
</div>

<div th:replace="mail-templates/ko/fragments/footer :: footer"></div>

</body>
</html>