<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/ja/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    <h1>エラーが発生しました。</h1>
    <br>
    使用しようとしている url が無効、又は有効期限が切れています。<br>
    <br>
</div>

<div th:replace="mail-templates/ja/fragments/footer :: footer"></div>

</body>
</html>