<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm user's new device</title>
</head>

<body>

<div th:replace="mail-templates/ja/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em;">
    <div style="font-size:1em;">
        あなたのCashmallowアカウントに新しいデバイスからログインがありました。<br>
        本人によるログインであるかを確認するために、このメールをお送りしています。<br>
        デバイスを変更するには、新しいデバイスでパスポートを再度確認する必要があります。<br>
        &nbsp;<br>
        <strong>新しいデバイスを使用する方法です。手順通り進めてください。</strong> <br>
        1. 次のリンクをクリックしてください。<br>
        2. 新しいデバイスでログインしてください。<br>
        3. パスポート情報を登録してください。<br>
        4. サービスはパスポート情報の承認後にご利用いただけます。<br>
        &nbsp;<br>
        新しいデバイスで Cashmallow を使用し続けるには、下のボタンをクリックしてください。 新しいデバイスで続行します。<br>
        &nbsp;<br>
        <a th:href="@{${resetURL}(id=${id}, accountToken=${accountToken})}" style="background-color: #0e70f9; border-radius: 6px; border: 1px solid #337fed; display: inline-block; cursor: pointer; color: #ffffff; font-size: 15px; padding: 6px 24px; text-decoration: none;" onmouseover="this.style.backgroundColor='#1e62d0';" onmouseout="this.style.backgroundColor='#0e70f9';" target="_blank">
            Continue New Device
        </a>
        <br>
        &nbsp;<br>
    </div>

    <br>アカウントが不正に使用されている恐れがあります。 このアクティビティが認識されない場合は、すぐにパスワードの変更をお願いします。
    <br>&nbsp;
    <br> <span style="font-size:1.1em; font-weight: bold; line-height:2em;">Cashmallowのアカウントです</span>
    <br> <a th:text="${accountEmail}"></a>
    <br>&nbsp;
    <br> <span style="font-size:1.1em; font-weight: bold; line-height:2em;">新しいデバイスです</span>
    <br> <strong><span th:text="${deviceInfo}"></span></strong>
    <br> <span th:text="${accessTime}"></span>
    <br> <span th:text="${location}"></span>
    <br> <span th:text="${ip}"></span> (IPアドレス)

    <div style="padding-top:24px; font-size:0.875em;">
        <strong style="color:red;">[ご注意]</strong><br>
        元のデバイスのまま使用し続けるには、このメッセージを削除してください。<br>
        &nbsp;<br>
    </div>
</div>

<div th:replace="mail-templates/ja/fragments/footer :: footer"></div>

</body>
</html>