<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Confirm user's new device</title>
</head>

<body>

<div th:replace="mail-templates/ja/fragments/header :: header"></div>

<div id="success" style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    新しい機器を利用するための認証手続きが完了されました。<br>
    &nbsp;<br>
    新しい機器でログイン後、パスポートの情報を登録してください。<br>
    &nbsp;<br>
    &nbsp;<br>
</div>

<div id="failure" style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    新しい機器を利用するための認証手続きに問題が発生しました。 サポートセンターまでご連絡お願い致します。 <br>
    &nbsp;<br>
    &nbsp;<br>
</div>

<script>
    /*<![CDATA[*/
    var successDIV = document.getElementById("success");
    var failureDIV = document.getElementById("failure");
    if ("Y" == "[[${isSuccess}]]") {
        successDIV.style.display = "block";
        failureDIV.style.display = "none";
    } else {
        successDIV.style.display = "none";
        failureDIV.style.display = "block";
    }
    /*]]>*/
</script>

<div th:replace="mail-templates/ja/fragments/footer :: footer-confirm"></div>

</body>
</html>