<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/ja/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em;">
    <div style="font-size:1em;">
        まだ出金されていない外貨がございます。7日以内に出金しない場合は 登録されているお客様の口座に返金されます。<br>
        &nbsp;<br>
        楽しい旅の始まりをCashmallowと一緒にお楽しみください！<br>
        &nbsp;<br>
    </div>
</div>

<div th:replace="mail-templates/ja/fragments/footer :: footer"></div>

</body>
</html>