<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cashmallow Mail Footers</title>
</head>
<body>

<div th:fragment="footer">
    <div style="background-color:#f9fafa; color:rgb(168,168,168); padding:16px; line-height:1.5em;">
        <div style="font-size:0.875em;">
            - This e-mail is sent automatically, please do not reply.<br>
            - Please contact our customer center for any enquiries. <br>
        </div>
        <br>
        <div style="font-size:0.75em;">
            <a href="https://www.cashmallow.com" target="_blank">Cashmallow Hong Kong Limited</a> | CEO: Yun Hyeongun | MSO Licence No.18-03-02352 <br>
            Room 1423, 14/F, Radio City 505-511 Hennessy Road, Causeway Bay, Hong Kong.<br>
        </div>
    </div>
</div>

<div th:fragment="footer-confirm">
    <div style="background-color:#f9fafa; color:rgb(168,168,168); padding:16px; line-height:1.5em;">
        <div style="font-size:0.875em;">
            - Please contact our customer center for any enquiries. <br>
        </div>
        <br>
        <div style="font-size:0.75em;">
            <a href="https://www.cashmallow.com" target="_blank">Cashmallow Hong Kong Limited</a> | CEO: Yun Hyeongun | MSO Licence No.18-03-02352 <br>
            Room 1423, 14/F, Radio City 505-511 Hennessy Road, Causeway Bay, Hong Kong.<br>
        </div>
    </div>
</div>

</body>
</html>