<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/en/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    <p>親愛的顧客，</p>
    <p>謝謝你使用我們的服務。</p>
    <p>由於Cashmalliow Hong Kong Limited提供的服務進行改善，因此亦就數據政策進行修訂，詳情可至App內 （更多 -&gt; 使用條款 -&gt; 個人資料處理方針) 或官方網站 （<a href="https://www.cashmallow.com/zh-hant/privacy-policy/" title="https://www.cashmallow.com/zh-hant/privacy-policy/">https://www.cashmallow.com/zh-hant/privacy-policy/</a> ） 查看。</p>
    <p>如有任何其他疑問，亦可以透過客服中心聯絡我們查詢。</p>
    <p>Cashmallow Hong Kong Limited</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Dear customer,<br />
        Thank you for using our services.As Cashmallow Hong Kong Limited is improving our services, we have also updated our data policy. You can find the details in the app (More -&gt; Terms of Use -&gt; Personal Data Processing Policy) or on our official website (<a href="https://www.cashmallow.com/zh-hant/privacy-policy/" title="https://www.cashmallow.com/zh-hant/privacy-policy/">https://www.cashmallow.com/zh-hant/privacy-policy/</a> ).</p>
    <p>If you have any other questions, please feel free to contact our customer service center for assistance.</p>
    <p>&nbsp;</p>
    <p>Cashmallow Hong Kong Limited</p>
    <p><strong>APP - 더보기 - 고객센터 - 1 : 1 문의</strong></p>
    <p><strong>APP - 更多 - 客服中心 - 與客服對談</strong></p>
    <p><strong>APP - More - Customer Service Center - Live chat</strong></p>
    <p><a href="https://www.cashmallow.com/" title="https://www.cashmallow.com/"><strong>Website</strong></a><strong>&nbsp; |&nbsp; </strong><a href="https://www.facebook.com/cashmallowCH" title="https://www.facebook.com/cashmallowCH"><strong>Facebook</strong></a><strong>&nbsp; |&nbsp; </strong><a href="https://www.instagram.com/cashmallow_hk" title="https://www.instagram.com/cashmallow_hk"><strong>instagram</strong></a></p>
    <br>
</div>

<div th:replace="mail-templates/en/fragments/footer :: footer"></div>

</body>
</html>