<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/en/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    You have requested to reset your Cashmallow account password. In order to protect your account, please use the teporary password below to log-in and reset your new password.<br>
    &nbsp;<br>
    Temporary password : <strong><span th:text="${newPassword}"></span></strong><br>
    &nbsp;<br>
</div>

<div th:replace="mail-templates/en/fragments/footer :: footer"></div>

</body>
</html>