<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm a mail address</title>
</head>

<body>

<div th:replace="mail-templates/en/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em;">
    <div style="font-size:1em;">
        You still have foreign currency that hasn’t been withdrawn.<br>
        &nbsp;<br>
        If you do not complete your withdrawal within 7 days, the amount will be automatically refunded to your registered bank account.<br>
        &nbsp;<br>
    </div>
</div>

<div th:replace="mail-templates/en/fragments/footer :: footer"></div>

</body>
</html>