<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cashmallow Mail to confirm user's new device</title>
</head>

<body>

<div th:replace="mail-templates/en/fragments/header :: header"></div>

<div style="background-color:white; padding:16px; line-height:1.5em; font-size:1em;">
    Your Cashmallow account was just signed in to from a new device. You are getting this email to make sure it was you.
    <br>&nbsp;
    <br>Your account is at risk if this was not you. If you do not recognize this activity, please change your password immediately.
    <br>&nbsp;
    <br> <span style="font-size:1.1em; font-weight: bold; line-height:2em;">Cashmallow account</span>
    <br> <a th:text="${accountEmail}"></a>
    <br>&nbsp;
    <br> <span style="font-size:1.1em; font-weight: bold; line-height:2em;">New device</span>
    <br> <strong th:text="${deviceInfo}"></strong>
    <br> <span th:text="${accessTime}"></span>
    <br> <span th:text="${location}"></span>
    <br> <span th:text="${ip}"></span> (IP Address)
</div>

<div th:replace="mail-templates/en/fragments/footer :: footer"></div>

</body>
</html>