# .github/workflows/docker-build.yml
name: Build Docker Image

on:
  push:
    branches: [ main ]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Configure Git
        shell: 'bash'
        run: git config --global http.postBuffer 314572800  # 300MB로 설정

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '17'

      - name: Build with Gradle
        env:
          GRADLE_USER_HOME: /opt/hostedtoolcache/gradle_user_home
        shell: 'bash'
        run: |
          prefix_build_service=${INPUT_BUILD_SERVICE_NAME:-}
          GRADLE_CMD="./gradlew ${prefix_build_service:+${prefix_build_service}:}build"
          GRADLE_CMD="$GRADLE_CMD --no-daemon --build-cache --project-cache-dir=/opt/hostedtoolcache/gradle_project_cache/${{ github.repository }}"
          echo "Running: $GRADLE_CMD"
          $GRADLE_CMD
        
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: haeseung
          password: ${{ secrets.DOCKER_PASSWORD }}
          logout: true # optional, defau    lt is true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64
          driver-opts: "image=haeseung/buildkit:buildx-stable-1"

      - name: Build and push Docker image (no push version)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true #registry에 저장하면 필요없음
          tags: test/test-nginx:latest
          cache-from: type=local,src=/opt/docker-cache/${{ github.repository }}
          cache-to: type=local,dest=/opt/docker-cache/${{ github.repository }}, mode=max
