# .github/workflows/docker-build.yml
name: Build Docker Image

on:
  push:
    branches: [ main ]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
        driver-opts: image=moby/buildkit:latest

      - name: Build and push Docker image (no push version)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: test/test-nginx:latest
          cache-from: type=local,src=/opt/docker-cache
          cache-to: type=local,dest=/opt/docker-cache, mode=max
